[DB]
FilenameDB = $HOME/sandbox/SPT/pole_data_manager/spt_data_management.db

[Data]
BufferLocation = /buffer
Extensions = [ ".txt", ".g3", ".dat", ".dat.gz", ".dat.md5sum", ".dat.gz.md5sum"]
DiskMountPoints = /spt_disks
SinglePrimaryDisk = True
SinglePrimaryDiskPath = /spt_disks/primary/

# [General]
# LoggingConfigFile = $HOME/sandbox/SPT/pole_data_manager/logging.config
# testing = False
